@*Matthew Roche X00102929*@

@model EadCa2MatthewRoche.Models.BMI

@{
    ViewBag.Title = "Results";
}

<h1>Your Results</h1>


<h3>Your BMI Number:</h3>
<p>@Html.DisplayFor(Model => Model.BMINumber)</p>

<h3>Your BMI Category:</h3>
<p>@Html.DisplayFor(Model => Model.weightCategory)</p>


