@model MVCLab1._3.Models.Text

@{
    ViewBag.Title = "Confirm";
}

<h2>Sent</h2>
<h3>Destination:</h3>
<p>@Html.DisplayFor(Model => Model.destination)</p>
<h3>Message</h3>
<p>@Html.DisplayFor(Model => Model.content)</p>

