@model WebApplication1.Models.Person

@{
    ViewBag.Title = "ConfirmPerson";
}


<h1>Person</h1>
<h3>Name</h3>
<p>@Html.DisplayFor(Model => Model.name)</p>

<h3>Phone</h3>
<p>@Html.DisplayFor(Model => Model.Phone)</p>

<h3>Email</h3>
<p>@Html.DisplayFor(Model => Model.Email)</p>