
@{
    ViewBag.Title = "Date";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Date</title>

    <style>
        h1 {color:red;}
        h2 {color:blue;}
    </style>

</head>
<body>
    <div> 
     <h1>@ViewBag.Message </h1>
     <h2>@ViewBag.Timezone</h2>
    </div>

</body>
</html>
